{% load fdroid_website_search_tags %}
{% load static %}

{% get_version as version %}
{% get_link_back as link_back %}
{% get_color_text as color_text %}
{% get_last_updated as last_updated %}
{% get_color_background as color_background %}
{% get_color_background_header as color_background_header %}

<html>

  <head>
    <link href="/search{% static "fdroid_website_search.css" %}" rel="stylesheet" />
    <title>F-Droid
      {% if query %}
        Search: {{query}}
      {% else %}
        Search
      {% endif %}
    </title>
  </head>

  <body>
    <div class="site-wrapper">
      <header class="site-header">
        {# TODO link to correct language #}
	<a class="site-title" href="{{link_back}}">
          <img src="https://f-droid.org/assets/fdroid-logo.svg" />
          <h1>F-Droid</h1>
        </a>
      </header>
      <div class="main-content">
        <div>
          <form method="get">
            <input type="text" class="search-input" name="q" value="{{query}}" />
            <input type="submit" value="search" class="material-button" />
          </form>
        </div>

        {% for result in page.object_list %}
          <a class="package-header" href="{{ result.object.siteUrl }}">
            <img class="package-icon" src="{{ result.object.iconUrl }}" />

            <div class="package-info">
              <h4 class="package-name">
              {{ result.object.name }}
              </h4>

              <div class="package-desc">
                <span class="package-summary">{{ result.object.i18n_summary }}</span><span class="package-license">{{ result.object.license }}</span>
              </div>
            </div>
          </a>
	{% empty %}
	  {# TODO: ask users for input #}
        {% endfor %}

      </div>
      <footer class="site-footer">
        <div class="wrapper">
          <div class="site-description">
            <p>
	      &copy; 2018 F-Droid Limited and Contributors (F-Droid {{last_updated}}, fdroid-website-search {{version}})
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>

</html>
